:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(135deg,#2a003e,#11001f);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color:#f1f5f9;
  text-decoration: inherit;
}
a:hover {
  color:#f1f5f9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(135deg,#2a003e,#11001f);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color:#f1f5f9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color:#f1f5f9;
    background: linear-gradient(135deg,#2a003e,#11001f);
  }
  a:hover {
    color:#f1f5f9;
  }
  button {
    background: linear-gradient(135deg,#2a003e,#11001f);
  }
}

button, .btn { border-radius: 8px; transition: 0.3s ease; }
button:hover, .btn:hover { transform: scale(1.05); box-shadow: 0 4px 10px rgba(0,0,0,0.15); }
