name: Frontend CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install dependencies
      working-directory: HKare/frontend
      run: npm install

    - name: Build frontend
      working-directory: HKare/frontend
      run: npm run build
